/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
    --color-primary: #FF6900;

    /*Table colors*/
    --color-table-busy: #FFB86A;
    --color-table-free: #A9FF96;
    --color-table-undefined: #FFFAF4;
    --color-table-border: rgba(255, 105, 0, 0.1);
    --color-table-uneditable: #D4D4D8;

    /*Fonts*/
    --font-noto: 'Noto Sans', sans-serif;
    --font-montserrat: 'Montserrat Alternates', sans-serif;
}

* {
    @apply antialiased;
}

body {
    @apply font-noto;
}

input,
textarea{
    @apply outline-2 outline-table-border focus:outline-primary rounded px-2 py-3 ;
}

thead td {
    width: 80px;
    height: 80px;
    text-align: center;
}
td {
    width: 100px;
    height: 100px;
    text-align: center;
}